.hero_banner {
  text-align: center;
  margin: auto;
  padding: 50px;
  background-image: url(https://public.joomeo.com/files/6213c8200ca2d);

  button {
    background-color: #171c30;
    border-radius: 50px;
    color: #ece1c0;
    font-size: 2em;
    padding: 16px 32px;
    border: none;
    cursor: pointer;

    a {
      text-decoration: none;
      color: white;
    }
  }

  .hero_container {
    text-align: center;
    img {
      width: 30%;
      animation: body 2s infinite alternate-reverse;
      position: relative;

      @keyframes body {
        0% {
          transform: translateY(0);
        }
        100% {
          transform: translateY(-20px);
        }
        0% {
          transform: translateY(0);
        }
      }
    }
  }
}
