@import "../../global.scss";

.hero_banner {
  text-align: center;
  margin: auto;

  .hero_banner_background {
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    position: absolute;
    left: 0;
    width: 100%;
    z-index: -100;
    position: fixed;

    @include tablet {
      width: auto;
    }

    @include iphoneX {
      width: auto;
    }
  }

  .btn-cont {
    text-align: center;

    .btn {
      position: relative;
      padding: 20px 70px;
      border: 1px solid white;
      color: white;
      font-size: 2em;
      text-decoration: none;
      text-transform: uppercase;
      letter-spacing: 2px;
      -webkit-font-smoothing: antialiased;

      @include iphoneX {
        padding: 20px 30px;
      }

      &:hover {
        border: none;

        .line-1 {
          animation: move1 1500ms infinite ease;
        }

        .line-2 {
          animation: move2 1500ms infinite ease;
        }

        .line-3 {
          animation: move3 1500ms infinite ease;
        }

        .line-4 {
          animation: move4 1500ms infinite ease;
        }
      }
    }

    .line-1 {
      content: "";
      display: block;
      position: absolute;
      width: 1px;
      background-color: white;
      left: 0;
      bottom: 0;
    }
    .line-2 {
      content: "";
      display: block;
      position: absolute;
      height: 1px;
      background-color: white;
      left: 0;
      top: 0;
    }
    .line-3 {
      content: "";
      display: block;
      position: absolute;
      width: 1px;
      background-color: white;
      right: 0;
      top: 0;
    }
    .line-4 {
      content: "";
      display: block;
      position: absolute;
      height: 1px;
      background-color: white;
      right: 0;
      bottom: 0;
    }
  }

  @keyframes move1 {
    0% {
      height: 100%;
      bottom: 0;
    }
    54% {
      height: 0;
      bottom: 100%;
    }
    55% {
      height: 0;
      bottom: 0;
    }
    100% {
      height: 100%;
      bottom: 0;
    }
  }

  @keyframes move2 {
    0% {
      width: 0;
      left: 0;
    }
    50% {
      width: 100%;
      left: 0;
    }
    100% {
      width: 0;
      left: 100%;
    }
  }

  @keyframes move3 {
    0% {
      height: 100%;
      top: 0;
    }
    54% {
      height: 0;
      top: 100%;
    }
    55% {
      height: 0;
      top: 0;
    }
    100% {
      height: 100%;
      top: 0;
    }
  }

  @keyframes move4 {
    0% {
      width: 0;
      right: 0;
    }
    55% {
      width: 100%;
      right: 0;
    }
    100% {
      width: 0;
      right: 100%;
    }
  }

  .hero_container {
    text-align: center;
    img {
      width: 30%;
      animation: body 2s infinite alternate-reverse;
      position: relative;
      z-index: 1005;
      margin-bottom: 15px;

      @include tablet {
        margin-bottom: 60px;
        width: 60%;
        margin-top: 15%;
      }

      @include iphoneX {
        margin-top: 120px;
      }

      @keyframes body {
        0% {
          transform: translateY(0);
        }
        100% {
          transform: translateY(-20px);
        }
        0% {
          transform: translateY(0);
        }
      }
    }
  }
}
