@import "../../global.scss";

.team {
  padding: 150px 0px;

  .background_global {
    background-color: $background;
    padding: 100px 0px;
  }

  .team_bg_top {
    height: 138px;
    width: 100%;
    background-repeat: repeat-x;
    background-position: 50% center;
    margin-bottom: -5px;
  }

  h1 {
    font-size: 7em;
    line-height: calc(20px + 20vh);
    text-shadow: 0 0 5px #ffa500, 0 0 15px #ffa500, 0 0 20px #ffa500,
      0 0 40px #ffa500, 0 0 60px #ff0000, 0 0 10px #ff8d00, 0 0 98px #ff0000;
    color: #fff6a9;
    font-family: "Sacramento", cursive;
    text-align: center;
    animation: blink 12s infinite;
    -webkit-animation: blink 12s infinite;
    animation: body 2s infinite alternate-reverse;
  }

  @-webkit-keyframes blink {
    20%,
    24%,
    55% {
      color: #70c6f7;
      text-shadow: none;
    }

    0%,
    19%,
    21%,
    23%,
    25%,
    54%,
    56%,
    100% {
      text-shadow: 0 0 5px #ffa500, 0 0 15px #ffa500, 0 0 20px #ffa500,
        0 0 40px #ffa500, 0 0 60px #ff0000, 0 0 10px #ff8d00, 0 0 98px #ff0000;
      color: #fff6a9;
    }
  }

  @keyframes blink {
    20%,
    24%,
    55% {
      color: #70c6f7;
      text-shadow: none;
    }

    0%,
    19%,
    21%,
    23%,
    25%,
    54%,
    56%,
    100% {
      text-shadow: 0 0 5px #ffa500, 0 0 15px #ffa500, 0 0 20px #ffa500,
        0 0 40px #ffa500, 0 0 60px #ff0000, 0 0 10px #ff8d00, 0 0 98px #ff0000;
      color: #fff6a9;
    }
  }

  @keyframes body {
    0% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(30px);
    }
    0% {
      transform: translateY(0);
    }
  }

  .cards {
    display: flex;
    padding-top: 70px;
    color: white;

    .card {
      margin: 20px;
      border-radius: 10px;
      overflow: hidden;
      text-align: center;
      background: linear-gradient(
        180deg,
        rgba(31, 48, 101, 0) 0%,
        #3340a8 100%
      );
      padding: 15px;
    }

    h2 {
      font-size: 2em;
      padding-top: 10px;
      text-transform: uppercase;
    }

    .pic {
      padding: 150px 0px 0px 0px;

      img {
        height: 200px;
        width: 200px;
        border-radius: 50%;
        margin-top: -90px;
        position: relative;
      }
    }

    .info h3 {
      font-size: 1.5em;
      padding: 10px 0;
    }

    .info p {
      font-size: 1.2em;
      padding: 10px 20px;
    }
  }
}
