@import "../../global.scss";

.team {
  padding: 150px 0px;

  .background_global {
    background-color: $background;
    padding: 100px 0px;

    @include iphoneX {
      display: inline-block;
    }
  }

  .team_bg_top {
    height: 138px;
    width: 100%;
    margin-bottom: -5px;

    @include tablet {
      height: 70px;
      margin-bottom: -7px;
      margin-top: -7px;
    }

    @include iphoneX {
      height: auto;
      margin-bottom: -5px;
      width: auto;
    }
  }

  h1 {
    font-size: 7em;
    line-height: calc(20px + 20vh);
    text-align: center;
    animation: blink 12s infinite;
    -webkit-animation: blink 12s infinite;
    animation: body 2s infinite alternate-reverse;

    @include iphoneX {
      font-size: 4em;
    }
  }

  @-webkit-keyframes blink {
    20%,
    24%,
    55% {
      color: #70c6f7;
      text-shadow: none;
    }

    0%,
    19%,
    21%,
    23%,
    25%,
    54%,
    56%,
    100% {
      text-shadow: 0 0 5px #ffa500, 0 0 15px #ffa500, 0 0 20px #ffa500,
        0 0 40px #ffa500, 0 0 60px #ff0000, 0 0 10px #ff8d00, 0 0 98px #ff0000;
      color: #fff6a9;
    }
  }

  @keyframes blink {
    20%,
    24%,
    55% {
      color: #70c6f7;
      text-shadow: none;
    }

    0%,
    19%,
    21%,
    23%,
    25%,
    54%,
    56%,
    100% {
      text-shadow: 0 0 5px #ffa500, 0 0 15px #ffa500, 0 0 20px #ffa500,
        0 0 40px #ffa500, 0 0 60px #ff0000, 0 0 10px #ff8d00, 0 0 98px #ff0000;
      color: #fff6a9;
    }
  }

  @keyframes body {
    0% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(30px);
    }
    0% {
      transform: translateY(0);
    }
  }

  .cards {
    display: flex;
    padding-top: 20px;
    color: #111526;

    @include tablet {
      display: block;
    }

    .card {
      margin: 20px;
      overflow: hidden;
      text-align: center;
      border-top: 1px solid #adc5e0;
      border-top-width: 4px;
      border-bottom: 1px solid #adc5e0;
      border-bottom-width: 4px;
      padding: 15px;
    }

    h2 {
      font-size: 2em;
      padding-top: 10px;
      text-transform: uppercase;

      @include iphoneX {
        font-size: 2.55em;
      }

      @include tablet {
        margin-top: 20px;
        font-size: 3em;
      }
    }

    .pic {
      padding: 150px 0px 0px 0px;

      img {
        height: 200px;
        width: 200px;
        border-radius: 50%;
        margin-top: -90px;
        position: relative;

        @include tablet {
          height: 300px;
          width: 300px;
          border-radius: 50%;
        }
      }
    }

    .info h3 {
      font-size: 1.5em;
      padding: 10px 0;

      @include iphoneX {
        font-size: 1.5em;
      }

      @include tablet {
        margin-top: 20px;
        font-size: 2.2em;
      }
    }

    .info p {
      font-size: 1.2em;
      padding: 10px 20px;
      line-height: 30px;

      @include tablet {
        font-size: 2em;
      }

      @include iphoneX {
        font-size: 1.5em;
      }
    }
  }
}
