@import "../../global.scss";

.about {
  padding: 150px 0px;
  color: $color-text;

  .background_global {
    background-color: $background;
    padding: 100px 0px;

    @include iphoneX {
      display: inline-block;
    }
  }

  .about_bg_top {
    height: 138px;
    width: 100%;
    margin-bottom: -5px;

    @include tablet {
      width: auto;
      margin-bottom: -20px;
    }

    @include iphoneX {
      width: auto;
      margin-bottom: -10px;
    }
  }

  .about_flex_container {
    align-items: center;
    display: flex;

    @include computer {
      display: block;
    }

    .about_img {
      width: 45%;
      padding-right: 70px;

      @include computer {
        text-align: center;
        width: 100%;
      }

      img {
        max-width: 100%;
        border-radius: 25px;

        @include tablet {
          max-width: 80%;
          border-radius: 25px;
        }
      }
    }

    .about_content {
      width: 60%;
      text-align: center;

      @include tablet {
        margin-left: auto;
        margin-right: auto;
      }

      @include computer {
        margin-left: auto;
        margin-right: auto;
      }

      p {
        text-align: justify;
        padding: 30px 0 0;
        font-size: 1.5em;

        @include tablet {
          font-size: 2.2em;
        }

        @include iphoneX {
          font-size: 1.7em;
        }
      }

      .title {
        font-size: 3em;
        padding: 16px 0;

        @include tablet {
          padding-top: 50px;
          font-size: 5em;
        }

        @include iphoneX {
          font-size: 4em;
        }
      }
    }
  }
}
