@import "../../global.scss";

.about {
  padding: 150px 0px;
  color: white;

  .background_global {
    background-color: $background;
    padding: 100px 0px;
  }

  .about_bg_top {
    height: 138px;
    width: 100%;
    background-repeat: repeat-x;
    background-position: 50% center;
    margin-bottom: -5px;
  }

  .about_flex_container {
    align-items: center;
    display: flex;

    @include computer {
      display: block;
    }

    @include mobile {
      font-size: 0.8em;
    }

    .about_img {
      width: 45%;
      padding-right: 70px;

      @include computer {
        text-align: center;
        width: 100%;
      }

      img {
        max-width: 100%;
        border-radius: 25px;

        @include computer {
          max-width: 50%;
        }
      }
    }

    .about_content {
      width: 60%;
      text-align: center;

      @include computer {
        margin-left: auto;
        margin-right: auto;
      }

      p {
        text-align: justify;
        padding: 30px 0 0;
        font-size: 1.5em;
      }

      .title {
        font-size: 3em;
        padding: 16px 0;
      }
    }
  }
}
