.navbar {
  position: fixed;
  top: 0;
  z-index: 1000;
  color: white;
  background-color: #141948;
  position: fixed;
  left: 0;
  right: 0;

  .navbar_container {
    align-items: center;
    justify-content: space-between;
    padding: 20px 16px;
    font-size: 2em;
    display: flex;
  }

  .navbar_title {
    h1 {
      text-transform: uppercase;
      text-align: center;
    }
  }

  .navbar_link {
    display: flex;
    align-items: center;
    justify-content: center;

    .navbar_link_logo {
      padding: 25px 0px;
      margin: 0px 50px;
    }
  }
}
