@import "./global.scss";

* {
  font-family: "Josefin Sans", sans-serif;
  margin: 0;
  padding: 0;
}

.app {
  overflow: hidden;
  .background {
    width: 100%;
    position: fixed;
    z-index: -1000;
    height: 100%;
    object-fit: cover;
  }
}

.container {
  width: 1080px;
  margin: auto;

  @include tablet {
    width: 100%;
    margin: auto;
  }

  @include iphoneX {
    width: 100%;
    margin: auto;
  }
}
