$background: #f6f3eb;
$width: 768px;
$computer: 1080px;
$iphoneX: 375px;

@mixin tablet {
  @media (max-width: #{$width}) {
    @content;
  }
}
@mixin computer {
  @media (max-width: #{$computer}) {
    @content;
  }
}
@mixin iphoneX {
  @media (max-width: #{$iphoneX}) {
    @content;
  }
}
